<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Business law</h1>
            <span>Jönköping International Business School</span>
            <span><address>Jönköping, SE</address><time>2010 to 2013</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Jönköping School of Engineering</h1>
            <span>Software Product Engineering</span>
            <span><address>Jönköping, SE</address><time>2013 to 2014</time></span>
        </header>
    </article>
</section>
