<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Entrepreneur</h1>
            <span><address>Jönköping, SE</address><time>2015 to Present</time></span>
        </header>
        <p>Founded my first startup, Tuva</p>
    </article>
    <article>
        <header>
            <h1>IT Consultant</h1>
            <span><address>Jönköping, SE</address><time>2014 to 2015</time></span>
        </header>
        <p>System management and problem solving together with customers.</p>
    </article>
    <article>
        <header>
            <h1>Hockey Coach</h1>
            <span><address>HV71 Junior Organisation, Jönköping, SE</address><time>2009 to 2013</time></span>
        </header>
    </article>
</section>
